.boxes-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;

  .card {
    padding: 2rem;

    .boxes-subtitle {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding-bottom: 1.5rem;
    }
  }
}
.amount-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;

  .coin {
    margin-left: 0.35rem;
    top: 0.4rem;
  }
}
