.landing-container {
  margin-top: 1rem;
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  .landing-logo {
    margin-right: 0.5rem;
  }
}
.add-button {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(25%);
}
