.transaction-container {
  flex: 1;
  background-color: rgba(10, 10, 10, 0.1);

  &:not(:last-child) {
    margin-bottom: 1rem !important;
  }
}
.transaction {
  padding: 0.5rem;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
