@import '../node_modules/bulma/sass/utilities/_all';
@import '../node_modules/bulma/css/bulma.css';
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');
@import './styles/boxes';
@import './styles/landing';
@import './styles/transactions';
@import './styles/add';
@import './styles/categories';

body {
  font-family: 'Dosis', sans-serif;
}
.field-body {
  flex-grow: 3;
}
.card-header {
  background-color: $primary;
}
