@import url(../node_modules/bulma/css/bulma.css);
@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");
@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.boxes-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem; }
  .boxes-container .card {
    padding: 2rem; }
    .boxes-container .card .boxes-subtitle {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding-bottom: 1.5rem; }

.amount-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline; }
  .amount-container .coin {
    margin-left: 0.35rem;
    top: 0.4rem; }

.landing-container {
  margin-top: 1rem;
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .landing-container .landing-logo {
    margin-right: 0.5rem; }

.add-button {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(25%); }

.transaction-container {
  flex: 1;
  background-color: rgba(10, 10, 10, 0.1); }
  .transaction-container:not(:last-child) {
    margin-bottom: 1rem !important; }

.transaction {
  padding: 0.5rem; }
  .transaction:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.add-container {
  width: 600px;
  margin: 0 auto; }

.category:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

body {
  font-family: 'Dosis', sans-serif; }

.field-body {
  flex-grow: 3; }

.card-header {
  background-color: #00d1b2; }
